body{
    color: black;
    background-color: rgb(186, 218, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo img{
    width: 15%;
    border: 2px solid black;
    border-radius: 10px;
}
.secao{
    border: 2px solid rgb(165, 144, 197);
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}